## Crime forecasting with NeuralProphet - using snow and precipation as additional regressors.

1. Importing libraries

In [39]:
from neuralprophet import NeuralProphet
import pandas as pd
import numpy as np

2. Importing daily crime count with weather data.

In [40]:
df = pd.read_csv("../../data/daily-count-w-weather.csv")
df.head()

,ds,y,AWND_x,PRCP_x,SNWD_x,SNOW_x,TMAX_x,TMIN_x,AWND_y,PRCP_y,SNWD_y,SNOW_y,TMAX_y,TMIN_y
0,2017-01-01,54,6.93,0.01,0.0,0.0,46.0,43.0,6.93,0.01,0.0,0.0,46.0,43.0
1,2017-01-02,45,5.37,0.20,0.0,0.0,56.0,45.0,5.37,0.20,0.0,0.0,56.0,45.0
2,2017-01-03,49,7.61,0.00,0.0,0.0,57.0,40.0,7.61,0.00,0.0,0.0,57.0,40.0
3,2017-01-04,48,9.62,0.00,0.0,0.0,41.0,26.0,9.62,0.00,0.0,0.0,41.0,26.0
4,2017-01-05,39,8.50,0.00,0.0,0.0,37.0,29.0,8.50,0.00,0.0,0.0,37.0,29.0

3. Dropping all columns except Snow Depth and precipation.

In [41]:
df = df[["ds", "y", "SNWD_x", "PRCP_x"]]
df["ds"] = pd.to_datetime(df["ds"])
df.head()

          ds   y  SNWD_x  PRCP_x
0 2017-01-01  54     0.0    0.01
1 2017-01-02  45     0.0    0.20
2 2017-01-03  49     0.0    0.00
3 2017-01-04  48     0.0    0.00
4 2017-01-05  39     0.0    0.00

4. Setting random seed for reproducibility.

In [42]:
import random
random.seed(42)
np.random.seed(42)

5. Fitting the NeuralProphet with default setting and Snow depth + precipitation as additional regressors.

In [ ]:
m = NeuralProphet()
m.set_plotting_backend("plotly")
m.add_country_holidays("US")

m.add_future_regressor("SNWD_x")
m.add_future_regressor("PRCP_x")

df_train, df_test = m.split_df(df, freq="D", valid_p=0.2)
metrics = m.fit(df_train, freq="D", validation_df=df_test, progress="plot", )

6. Outputting final metrics for the model.

In [44]:
metrics.tail(1)

,MAE_val,RMSE_val,Loss_val,RegLoss_val,epoch,MAE,RMSE,Loss,RegLoss
162,9.252272,11.256371,0.034263,0.0,162,5.811975,7.327556,0.011062,0.0